<%= f.inputs  "Item Details" do %>   

  <div id="select_category" class="select_category1">
    <%= f.input :parent_category_id, :collection => Category.roots, :as => :select, :input_html => {:class => "select_category"}, :label => "Category" %>
  </div>

  <%= f.input :name,  :label => "Item Title", :hint => "Title should be less than 60 characters." %>
  <%= f.input :description, :hint => "Provide More information about this item  " %>
  
  <%= f.input :quantity  %>
  <%= f.input :seller_price, :label => "Set a price for your item" %>
  <%= f.input :category_id, :as => :hidden %>
  
  <li class="string required">
    <label>Product Keywords Tags. Separate tags by ,</label>
    <%= text_field_tag :tags %> (split by ,)
  </li>
  
  <%= f.input :color_ids, :collection => @colors, :as => :check_boxes, :label => "Colors Available" %>
  
  <%= f.input :public , :collection => Product::PRODUCT_STATUS, :as => :select,  :label => "Status"  %> 
     
<% end %>

<%= f.inputs "Shipping Options" do %>
   <% ShippingPrice::TOP_SHIPPING_COUNTRIES.each do |country| %>
    <li class="string shipping">
      <label><%= country  %></label>
      $<%= text_field_tag "shipping_price[#{country}]" %>
      <%= link_to 'remove', '#', :class => "shipping shipping_price#{country}" %>
    </li>
   <% end %>
<% end %>

<%= f.inputs "Add photos of your item" do %>
  <li>
    <label class="label">Add photos of your item</label>
    <%= file_field_tag :picture %>
  </li>
  <div id="uploads"></div>   

<% end %>