<%= hidden_field_tag :category_name %>
<%= f.inputs do %>   

  <p><label>Category:</label><span id="show_category"></span><%= link_to "edit_category" , "javascript:;" , :id=>"edit_category" %>
  <div id="select_category" class="select_category">
    <%= select_tag "first_category" , options_from_collection_for_select(Category.first_category, "name", "name"), :multiple => true  %>
    <%= select_tag "second_category" , "", :multiple => true   %>
    <%= select_tag "third_category" , "", :multiple => true  %>
    <%= select_tag "four_category" , "", :multiple => true  %>
    <%= link_to "OK" , "javascript:;" , :id=>"ok_category" %>
  </div>
  </p>
  
  <%= f.input :name  ,  :input_html => {  :size => 10 } %>
  <%= f.input :length  %>
  <%= f.input :width  %>
  <%= f.input :height  %>
  <%= f.input :weight  %>
  <%= f.input :quantity  %>
  <%= f.input :public , :collection => Product::PRODUCT_STATUS, :as => :select,  :label => "Status"  %>    
  <%= f.input :seller_price  %>
  <%= f.input :description  %>

  <li class="string required">
    <label>Tags:</label>
    <%= text_field_tag :tags %> (split by ,)
  </li>
  
  shipping:
  <table>
    <tr><th>method</th><th cospan="4">price</th></tr>
    <% ShippingCategory.all.each do |sc| %>
      <tr><td><%= sc.name %></td><td><%= radio_button_tag "shipping[#{sc.name}]" , "free" , true %> free </td><td><%= radio_button_tag "shipping[#{sc.name}]" , "not_support" %> not support</td>
        <td><%= radio_button_tag "shipping[#{sc.name}]" , "custom" %> custom</td><td style="display:none;"><%= text_field_tag "#{sc.name}[price]" %></td></tr>
    <% end %>
  </table>
   
   Select Colors:
   <div>
    <% @colors.each do |color| %>
      <div><%= check_box_tag "product[color_ids][]", color %><span class="crayon" style="background-color:<%= "##{color.value}" %>">&nbsp;</span></div>
    <% end %>
   </div>
    
    
  <li>
    <label class="label">Pictures:</label>
    <%= file_field_tag :picture %>
  </li>
  <div id="uploads"></div>   
    
<% end %>