<%= stylesheet_link_tag 'jquery.fancybox-1.3.4' %>
<%= javascript_include_tag "jquery.fancybox-1.3.4" %>

<% title "List a Product" %>

<%= semantic_form_for [:my,@product] , :validate => true  do |f| %>
  <%= hidden_field_tag :category_name %>
  <%= f.inputs do %>   
    Category:<span id="show_category"></span><%= link_to "edit_category" , "javascript:;" , :id=>"edit_category"%>
    <div id="select_category">
      <%= select_tag "first_category" , options_from_collection_for_select(Category.first_category, "name", "name"), :multiple => true , :style=>'height:250px;' %>
      <%= select_tag "second_category" , "", :multiple => true , :style=>'height:250px;' %>
      <%= select_tag "third_category" , "", :multiple => true , :style=>'height:250px;'  %>
      <%= select_tag "four_category" , "", :multiple => true , :style=>'height:250px;'  %>
      <%= link_to "OK" , "javascript:;" , :id=>"ok_category" %>
    </div>
    <%= f.input :name , :required => true %>
    <%= f.input :length  %>
    <%= f.input :width  %>
    <%= f.input :height  %>
    <%= f.input :weight  %>
    <%= f.input :quantity  %>
    status:
    <%= f.select :public , "<option value='0'>off sale</option><option value='1'>on sale</option>"  %>    
    <%= f.input :seller_price  %>
    <%= f.input :description , :required => true %>
    <li class="string required">
      <label>Tags:</label>
      <%= text_field_tag :tags %> (split by ,)
    </li>
    shipping:
    <table>
      <tr><th>method</th><th cospan="4">price</th></tr>
      <% ShippingCategory.all.each do |sc| %>
        <tr><td><%= sc.name %></td><td><%= radio_button_tag "shipping[#{sc.name}]" , "free" , true %> free </td><td><%= radio_button_tag "shipping[#{sc.name}]" , "not_support" %> not support</td>
          <td><%= radio_button_tag "shipping[#{sc.name}]" , "custom" %> custom</td><td style="display:none;"><%= text_field_tag "#{sc.name}[price]" %></td></tr>
      <% end %>
    </table>
    <li>
      Pictures:
      <%= file_field_tag :picture %>
    </li>
    <div id="uploads"></div>     
  <% end %> 
  <%= f.buttons do %>
    <%= f.submit "Create" , :type=>"button" , :onclick=>"submitForm();return false;" %>
    <%= f.cancel_link %> 
  <% end %>
<% end %>

<script type="text/javascript" charset="utf-8">
<%- session_key = Rails.application.config.session_options[:key] -%> 
  $(document).ready(function() {
	
    $('#product_picture').click(function(event){ 
      event.preventDefault();
    }); 
	
    $('#picture').uploadify({
      uploader : '/uploadify/uploadify.swf',
      cancelImg : '/uploadify/cancel.png',
      multi : true,
      auto : true,
      script : '/uploads',
      onComplete : function(event, queueID, fileObj, response, data) { 
        var dat = eval('(' + response + ')');
        $.getScript(dat.upload);},
      scriptData : {
        '_http_accept': 'application/javascript',
        'format' : 'json',
        '_method': 'post',
        '<%= session_key %>' : encodeURIComponent('<%= u cookies[session_key] %>'),
        'authenticity_token': encodeURIComponent('<%= u form_authenticity_token %>'),
        'product_draft_id' : '<%= @product_draft.id %>'
      }
    });
	
    $('#product_submit').click(function(event){
      // event.preventDefault(); 
      $('#picture').uploadifyUpload(); 
    });
    
    $("#edit_category").click(function(){
      $("#select_category").toggle();
    })
    
    var allCategories = JSON.parse('<%=raw Category.all_categories.to_json %>')    
    
    $("#first_category,#second_category,#third_category").change(function(){
      var $this = $(this);
      var childrens = allCategories[$this.val()];
      var s;
      $.each(childrens,function(index,val){
        s += "<option value='"+val+"'>" + val + "</option>"
      })
      switch($this.attr("id")){
        case "first_category":
          emptyOptions(["second","third","four"]);
          $("#second_category").html(s);          
          break;
        case "second_category":
          emptyOptions(["third","four"]);
          $("#third_category").html(s);          
          break;
        case "third_category":
          emptyOptions(["four"]);
          $("#four_category").html(s);
          break;
      }
    })
    
    function emptyOptions(arr){
      var length = arr.length;
      for(var i=0; i<length;++i){        
        $("#"+arr[i]+"_category").html("");
      }
    }

    function getName(categoryName){
      $.ajax({
        type: "POST",
        url: "/admin/categories/get_category",
        data: "name="+categoryName,
        success: function(text,status){
          if(status == "success"){
            $("#show_category").html(text["names"]);
            $("#product_category_id").val(text["category_id"]);
          }else{
            alert("ERROR"); 
          }              
        }
      });
    }
    
    function getCategory(){
      var categoryName;
      var first = $("#first_category").val();
      var second = $("#second_category").val();
      var third = $("#third_category").val();
      var four = $("#four_category").val();
      if(four != null){
        categoryName = four;  
        getName(categoryName);
        $("#select_category").hide();
      }else if(third != null){
        categoryName = third;
        getName(categoryName);
        $("#select_category").hide();
      }else if(second != null){
        categoryName = second;
        getName(categoryName);
        $("#select_category").hide();
      }else if(first != null ){
        categoryName = first;
        getName(categoryName);
        $("#select_category").hide();
      }else
        alert("you must select a category!");
    }
    
    $("#ok_category").click(getCategory);
    
    $("[id*='shipping_']").click(function(){
      var reg = /_custom/ ;
      var $this = $(this);
      var $td = $this.parents("tr").find("td").eq(-1);
      if(reg.exec($this.attr("id")) != null)
        $td.show();
      else
        $td.hide();
    }) 

  }); 
  
  function setCategoryName(){
    var $c = $("[id*='_category']").find("option:selected").eq(-1);
    $("#category_name").val($c.val());
  }
    
  function submitForm(){
    setCategoryName();
    $("form").submit();
  }
  
</script>