<% title 'Listing colors' %>

<table>
  <tr><th>name</th><th>public</th><th></th></tr>
  <% @colors.each do |c| %>
  <tr><td><%= c.name %></td><td><%= c.public %></td>
    <td><%= link_to "Edit" , edit_color_path(c) %> | 
    <%= link_to "Delete" , c , :method=>:delete , :confirm=>"Sure?" %>
    </td>
  </tr>
  <% end %>
</table>

<br />

<p>
  <%= link_to 'New Color', new_color_path, :class => 'button' %>
</p>

