<%= stylesheet_link_tag "color_picker/color_picker" %>
<%= javascript_include_tag "color_picker/jquery.color_picker","color_picker/ifx","color_picker/idrop", "color_picker/idrag" ,"color_picker/iutil","color_picker/islider", "color_picker/color_picker" %>

<!-- compliance patch for microsoft browsers -->
<!--[if lt IE 7]>
		<link rel="stylesheet" href="/stylesheets/color_picker/color_picker-ie6.css" type="text/css">
	<![endif]-->
<!--[if gte IE 7]>
		<link rel="stylesheet" href="/stylesheets/color_picker/color_picker-ie7.css" type="text/css">
<![endif]-->

<%= error_messages_for @color %>
                
<%= form_for([:admin,@color]) do |f| %>
  <li>name*:<%= f.text_field :name , :required=>"required" %></li>
  <li>value*:<%= f.text_field :value , :required=>"required", :id=>"myhexcode" , :size=>10 %>
    <a href="javascript:void(0);" rel="colorpicker&objcode=myhexcode&objshow=myshowcolor&showrgb=1" style="text-decoration:none;display:inline-block;" >
      <div id="myshowcolor" style="width:15px;height:15px;border:1px solid black">&nbsp;</div></a>
  </li>
  <li>
    public:<%= f.check_box :public %>
  </li>
  <%= f.submit  %> or <%= link_to 'cancel', admin_colors_path %>
<% end %> 
  

<script type="text/javascript">
  //init colorpicker:
  $(document).ready(function(){
    $.ColorPicker.init();
  }
);
</script>

