<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @color.name %>
</p>

<p>
  <b>Public:</b>
  <%= @color.public %>
</p>


<%= link_to 'Edit', edit_admin_color_path(@color) %> |
<%= link_to 'Back', admin_colors_path %>
