<%= title "#{t(:listing_items)}"   %>


<%= link_to t(:new), new_item_path %>

<table>
  <thead>
    <th><%= t(:title) %></th>
    <th><%= t(:brand) %></th>
    <th colspan="2">Actions</th>
  </thead>

  <% @items.each do |item| %>
    <tr>
      <td><%= item.title %></td>
      <td><%= item.brand %></td>
      <td><%= link_to 'Show', item_path(item) %></td>      
      <td><%= link_to 'Edit', edit_item_path(item) %></td>
      <td><%= link_to 'Destroy', item_path(item), :confirm => t(:delete_confirm), :method => :delete %></td>
    </tr>
  <% end %>
</table>


