<%= title "#{t(:item_summary)}" %>

<p>
  <b><%= t(:title) %></b>
  <%= @item.title %>
</p>

<p>
  <b><%= t(:brand) %></b>
  <%= @item.brand %>
</p>  

<p>
  <b><%= t(:description) %> </b>
  <%= @item.description %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>