<% title 'Listing categories' %>

<%= link_to 'New Category', new_admin_category_url %>

<table class="data">
  <thead>
     <th>Name</th>
     <th>Full Path</th>
     <th>Actions</th>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.full_path %></td>
        <td>
          <ul>
            <li><%= link_to 'Add Subcategory', new_admin_category_url(:category => {:ancestry => category.id}) %></li>
            <li><%= link_to 'edit', edit_admin_category_url(category) %></li>
           </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>