<%= stylesheet_link_tag "google/orgchart" %>
<%= javascript_include_tag "google/jsapi.js" %>
<%= javascript_include_tag "google/orgchart.js" %>

<% title 'Listing categories' %>

<table>
  <th><td>name</td><td>parent_category</td><td>is_public</td><td>show_order</td></th>
  <% @categories.each do |c| %>
  <tr>
    <td><%= c.name %></td>
    <td><%= c.parent.name %></td>
    <td><%= c.human_public %></td>
    <td><%= c.show_order %></td>
  </tr>
  <% end %>
</table>


<p>
  <%= link_to 'New Category', new_admin_category_path, :class => 'button' %>
</p>

<div id='chart'></div>
<%=raw @chart.render('chart') %>

