<%= javascript_include_tag "swfobject.js", "jquery.uploadify.v2.1.0.js" %>
<% title "upload product" %>

<%= semantic_form_for @product , :validate => true  do |f| %>
  <%= f.input :category_id ,  :as=>"select" ,  :collection=> Category.all , :required => true %>
  <%= f.input :name , :required => true %>
  <%= f.input :description , :required => true %>
  <p>
    <strong>tags:</strong>
    <%= text_field_tag :tags %> (split by ,)
  </p>
  <div id="uploads">
    <%= f.input :picture , :as=>"file" %>
  </div>

  <%= f.buttons do %>
    <%= f.commit_button "Create" %>
    <%= f.cancel_link    %> 
  <% end %>

<% end %>

<script type="text/javascript" charset="utf-8">
<%- session_key = Rails.application.config.session_options[:key] -%> 
  $(document).ready(function() {
	
    $('#product_picture').click(function(event){ 
      event.preventDefault();
    }); 
	
    $('#product_picture').uploadify({
      uploader : '/uploadify/uploadify.swf',
      cancelImg : '/uploadify/cancel.png',
      multi : true,
      auto : true,
      script : '/uploads',
      onComplete : function(event, queueID, fileObj, response, data) { 
        var dat = eval('(' + response + ')');
        $.getScript(dat.upload);},
        scriptData : {
        '_http_accept': 'application/javascript',
        'format' : 'json',
        '_method': 'post',
        '<%= session_key %>' : encodeURIComponent('<%= u cookies[session_key] %>'),
        'authenticity_token': encodeURIComponent('<%= u form_authenticity_token %>'),
        'product_draft_id' : '<%= @product_draft.id %>'
      }
    });
	
    $('#product_submit').click(function(event){
      event.preventDefault(); 
      $('#product_picture').uploadifyUpload(); 
    });
		
  }); 
</script>