<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title><%= configatron.app_name %> - <%= yield(:title) || 'Home' %></title>
    <%= stylesheet_link_tag 'dev.css' %>
    <%= stylesheet_link_tag 'formtastic.css' %>
    <%= stylesheet_link_tag 'jquery.crayonbox' %>
    <%= stylesheet_link_tag 'formtastic_changes.css' %>
    <%= stylesheet_link_tag 'jquery.fancybox-1.3.4' %>
    <%= javascript_include_tag "jquery.fancybox-1.3.4" %>
    <%= javascript_include_tag 'jquery','rails', "swfobject.js", "jquery.uploadify.v2.1.0.js" , 'jquery.crayonbox' %>  
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body class="<%= Rails.env -%>">

    <!-- HEADER -->
    <div id="header">
      <%= yield :header %>
      <div>
        <h1><a href="/">ShopDeals</a></h1>

        <% if current_user %>
          <div>
            <span id="user_info">Hello, <%= link_to h(current_user.full_name), edit_user_registration_path %></span>
            <span id="logout">(<%= link_to 'Log Out', destroy_user_session_path %>)</span>
          </div>
        <% else %>
         <div>
           <span id="user_info"><%= link_to 'Register', new_user_registration_url %></span>
           <span id="logout"><%= link_to 'Sign Up', new_user_session_url %></span>
         </div>
         
        <% end %>
      </div>
      <div>
      </div>
    </div>
    <div>
      <%#= render :partial => "layouts/navigation" %>
    </div>
    <!-- HEADER end -->

    <!-- MAIN -->
    <div id="main">
      <!-- content -->
      <% if yield :sidebar %>
        <div class="sidebar">
          <%= yield :sidebar %>
        </div>
      <% end %>

      <div class="content">
        <h1><%= yield :title %></h1>
        <%= render_flash_messages %>
        <%= yield %>
      </div>

    </div>
    <!-- MAIN end -->

  </body>
</html>
